<div class="d-flex background">
    <div class="center">
        <img src="../../assets/imgs/logocompleto.fw.png" class="img-logo" alt="logo">
        <br>
        <br>
        <p>Este site tem como objetivo, passar de uma maneira mais simplificada e visual as informações extraídas do <a href="https://www.ssp.sp.gov.br/transparenciassp/Default.aspx" target="_blank">site de transparência do governo</a> para você que busca dados relacionados a segurança pública e crimes no Estado de São Paulo. O presente site não contém como informações arquivadas imagens dos crimes aqui tratados, você irá encontrar apenas informações sobre os boletins de ocorrências e das próprias ocorrências em si.</p>
        <p>Desejamos que você consiga vizualisar as informações que seja a você necessárias e que consiga analisar o quanto hoje em dia, aparentemente, vale uma vida.</p>
    </div>
</div>  