h3{
    color: white; 
    text-align: justify;
 }
 
 p{
     text-align: justify;
 }

.bold{
    font-weight: bolder;
}

button{
    color: white;
    border-style: solid;
    border: 1px;
    border-color: #822c2c;
    background-color: rgba(255, 0, 0, 0);
    text-decoration: underline;
}

#read_more{
    color: white;
    text-align: justify;
}

#btn-outline-danger:hover{
    color: #822c2c;
}

.border{
    border: 1px white solid;
}

table{
    width: 800px;
    margin: auto;
    align-items: center;
}