<div class="d-flex background">
    <div class="center">
        <h3>METODOLOGIA PARA INTERPRETAÇÃO DOS DADOS EXPORTADOS EM EXCEL:</h3>
        <br>
        <p class="bold">Para a correta interpretação dos dados é importante observar as seguintes informações:</p>
        <p>
            1. Os dados constantes da resposta foram extraídos do sistema de Registro Digital de Ocorrências (R.D.O.) que é a ferramenta de registro dos boletins de ocorrência nas delegacias de polícia. 
            <br>&nbsp;&nbsp;1.1. Com relação ao sistema R.D.O. é importante esclarecer que sua implantação foi concretizada de modo gradual nas diversas unidades policiais do Estado, tendo sua abrangência alcançado todos os municípios apenas a partir do ano de 2010. 
            <br>&nbsp;&nbsp;1.2. Também deve ser destacado que as tabelas e campos de preenchimento deste sistema são objetos de constante aperfeiçoamento a fim de adaptar-se às alterações nas dinâmicas criminais observadas no Estado ou propiciar melhoria no atendimento do serviço policial.
            <br>&nbsp;&nbsp;1.3. A inclusão ou alteração de um campo e respectivos períodos de implementação podem influenciar diretamente nos critérios de pesquisa executados, não havendo na base fornecida o tratamento metodológico necessário para qualificá-las como dados estatísticos oficiais.
            <br><br>2. Para entendimento do conteúdo de cada campo, deve ser analisada a tabela denominada Dicionário de Dados.
            <br><br>3. Cada linha constante na tabela registra os dados de uma pessoa, natureza ou objeto relacionado no boletim. Assim, um boletim que possua a identificação de mais de uma pessoa, natureza ou objeto (a depender da pesquisa solicitada) terá os dados da ocorrência multiplicados pelos indexadores solicitados, ou seja, várias linhas podem se referir ao mesmo boletim. 
            <br><br>4. Para conclusões quanto as quantidades de ocorrências é necessária exclusão das duplicidades por meio dos campos:
            <br>&nbsp;&nbsp;&nbsp;&nbsp;NOME_DELEGACIA
            <br>&nbsp;&nbsp;&nbsp;&nbsp;ANO_BO
            <br>&nbsp;&nbsp;&nbsp;&nbsp;NUM_BO
            <br><br>5. Frise-se que ao cidadão é facultado o registro da ocorrência em qualquer Delegacia de Polícia do Estado, sendo certo que cerca de 60% das ocorrências são registradas fora de sua circunscrição, ou seja, local do fato (ocorrência). Assim, para a análise dos dados obtém-se resultados diferentes sobre delegacia de registro e delegacia de circunscrição.
            <br><br>6. Os campos que podem levar a identificação da pessoa são protegidos de acordo com o art 31 da Lei de Acesso a Informação
            <br>&nbsp;&nbsp;6.1 não são fornecidos endereços que contem como tipo de local residências.
            <br><br>7. O número total de boletins de ocorrências registrados sob uma natureza criminal não representa a estatística criminal do Estado ou de determinada área ou região. A estatística em São Paulo é contabilizada de acordo com os procedimentos estabelecidos pela Resolução SSP nº 160/01 de 08 de maio de 2001, que criou o Sistema Estadual de Coleta de Estatísticas Criminais e pode ser consultada através do endereço eletrônico www.ssp.sp.gov.br."
                    </p>
        <br>
        <button type="button" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic">Ler mais...</button>
        <br>
        <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">
        <br>
        <div id="read_more">
            8. Acesso a históricos:
            <br>Em virtude das características das informações contidas nos históricos, que tem por finalidade principal a coleta de subsídios para o início das investigações pelas autoridades policiais, além de conterem dados pessoais, para acesso aos históricos deverá ser atendido o previsto no art. 31 da Lei nº 12.527, de 18 de novembro de 2011, em especial o §3º:
            <br>&nbsp;&nbsp;Art. 31. O tratamento das informações pessoais deve ser feito de forma transparente e com respeito à intimidade, vida privada, honra e imagem das pessoas, bem como às liberdades e garantias individuais.
            § 1o As informações pessoais, a que se refere este artigo, relativas à intimidade, vida privada, honra e imagem:
            <br><br>...
            <br>II - poderão ter autorizada sua divulgação ou acesso por terceiros diante de previsão legal ou consentimento expresso da pessoa a que elas se referirem.
            § 2o Aquele que obtiver acesso às informações de que trata este artigo será responsabilizado por seu uso indevido. 
            <br>§ 3o O consentimento referido no inciso II do § 1o não será exigido quando as informações forem necessárias: 
            <br>I - à prevenção e diagnóstico médico, quando a pessoa estiver física ou legalmente incapaz, e para utilização única e exclusivamente para o tratamento médico;
            <br>II - à realização de estatísticas e pesquisas científicas de evidente interesse público ou geral, previstos em lei, sendo vedada a identificação da pessoa a que as informações se referirem; 
            <br>III - ao cumprimento de ordem judicial;
            <br>IV - à defesa de direitos humanos; ou
            <br>V - à proteção do interesse público e geral preponderante
            <br><br>Caso haja interesse em obter acesso aos históricos dos boletins, deverá ser enviada solicitação formal à Secretaria da Segurança Pública, especificando os seguintes pontos:
            <br>1- os dados e informações desejados apresentando a pesquisa, estudo, projeto ou objetivos que indiquem a possibilidade de enquadramento da solicitação a uma ou mais hipóteses do § 3º do art. 31 da Lei nº 12.527, de 18 de novembro de 2011;
            <br><br>2- Caso seja vinculado a uma instituição de pesquisa deverá apresentar documentos comprobatórios da instituição proponente, do representante legal e do coordenador responsável pela pesquisa (caso se trate de demanda de pesquisador individual, devem ser apresentados os documentos relativos à pesquisa e ao vínculo institucional do pesquisador - por ex, declaração da pós-graduação de que o demandante é aluno do programa).
            <br>Após apreciação, o solicitante será cientificado sobre a possibilidade de atendimento da demanda, considerando a disponibilidade e a não restrição dos dados solicitados, atendimento este que ficará vinculado à assinatura de termo de responsabilidade e confidencialidade elaborado pela SSP.
            <br>A formalização do pedido pode ser realizada através de ofício endereçado à SSP ou pelo sistema SIC, disponível pelo endereço www.sic.sp.gov.br.
            <br><br><div class="bold">Não serão fornecidos históricos de quaisquer naturezas do Título VI - Dos Crimes Contra os Costumes/Dignidade sexual e do Título I - Dos Crimes Contra a Pessoa Capítulo V - Dos Crimes Contra a Honra do Código Penal.</div>
            <br>
            <table class="border">
                <tr class="border"><div class="bold">PRESENTE TABELA TEM POR FINALIDADE ESCLARECER OS CAMPOS CONTIDOS NA BASE DE DADOS</div></tr>
                <tr class="border"><div class="bold">*Resultado Null indica que o campo se encontrava vazio no banco de dados</div></tr>
            </table>
            <table class="border">
                <tr class="border">
                    <td class="border">Campos</td>
                    <td class="border">Descrição</td>
                </tr>
                <tr class="border">
                    <td class="border">ID_DELEGACIA</td>
                    <td class="border">Código da delegacia responsável pelo registro da ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">NOME_DEPARTAMENTO</td>
                    <td class="border">Departamento responsável pelo registro</td>
                </tr>
                <tr class="border">
                    <td class="border">NOME_SECCIONAL</td>
                    <td class="border">Delegacia Seccional responsável pelo registro</td>
                </tr>
                <tr class="border">
                    <td class="border">NOME_DELEGACIA</td>
                    <td class="border">Delegacia responsável pelo registro</td>
                </tr>
                <tr class="border">
                    <td class="border">CIDADE</td>
                    <td class="border">Cidade de Registro</td>
                </tr>                               
                <tr class="border">
                    <td class="border">ANO_BO</td>
                    <td class="border">Ano do BO</td>
                </tr>  
                <tr class="border">
                    <td class="border">NUM_BO</td>
                    <td class="border">Número do BO</td>
                </tr>  
                <tr class="border">
                    <td class="border">NOME_DEPARTAMENTO_CIRC</td>
                    <td class="border">Departamento de Circunscrição</td>
                </tr>  
                <tr class="border">
                    <td class="border">NOME_SECCIONAL_CIRC</td>
                    <td class="border">Seccional de Circunscrição</td>
                </tr>  
                <tr class="border">
                    <td class="border">NOME_DELEGACIA_CIRC</td>
                    <td class="border">Delegacia de Circunscrição</td>
                </tr>  
                <tr class="border">
                    <td class="border">NOME_MUNICIPIO_CIRC</td>
                    <td class="border">Município da Delegacia de Circunscrição</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_TIPO_BO</td>
                    <td class="border">Tipo de Documento</td>
                </tr>
                <tr class="border">
                    <td class="border">DATA_OCORRENCIA_BO</td>
                    <td class="border">Data da Ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">HORA_OCORRENCIA_BO</td>
                    <td class="border">Hora da Ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_PERIODO</td>
                    <td class="border">Período da Ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">DATA_INICIAL_OCORR_INCERTA</td>
                    <td class="border">Data da Ocorrência Inicial Incerta</td>
                </tr>
                <tr class="border">
                    <td class="border">DATA_FINAL_OCORR_INCERTA</td>
                    <td class="border">Data da Ocorrência Final Incerta</td>
                </tr>
                <tr class="border">
                    <td class="border">DATA_COMUNICACAO_BO </td>
                    <td class="border">Data da Comunicação</td>
                </tr>
                <tr class="border">
                    <td class="border">HORA_COMUNICACAO_BO</td>
                    <td class="border">Hora da Comunicação</td>
                </tr>
                <tr class="border">
                    <td class="border">FLAG_STATUS</td>
                    <td class="border">Indica se é crime consumado ou tentado</td>
                </tr>
                <tr class="border">
                    <td class="border">RUBRICA</td>
                    <td class="border">Natureza jurídica da ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_CONDUTA</td>
                    <td class="border">Tipo de local ou circunstancia que qualifica a ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">DESDOBRAMENTO</td>
                    <td class="border">Desdobramentos jurídicos envolvidos na ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">BAIRRO</td>
                    <td class="border">Bairro da Ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_TIPOLOCAL</td>
                    <td class="border">Descreve grupo de tipos de locais onde se deu o fato</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_SUBTIPOLOCAL</td>
                    <td class="border">Descreve subgrupo de tipos de locais, vinculado ao tipo de local,  onde se deu o fato</td>
                </tr>
                <tr class="border">
                    <td class="border">CEP</td>
                    <td class="border">Código de Endereçamento Postal</td>
                </tr>
                <tr class="border">
                    <td class="border">LOGRADOURO</td>
                    <td class="border">Logradouro dos fatos</td>
                </tr>
                <tr class="border">
                    <td class="border">NUMERO_LOGRADOURO</td>
                    <td class="border">Número do Logradouro dos fatos</td>
                </tr>
                <tr class="border">
                    <td class="border">LOGRADOURO_REFERENCIA</td>
                    <td class="border">Logradouro de referência dos fatos</td>
                </tr>
                <tr class="border">
                    <td class="border">NUMERO_LOGRADOURO_REFERENCIA</td>
                    <td class="border">Número do Logradouro de referência dos fatos</td>
                </tr>
                <tr class="border">
                    <td class="border">LATITUDE</td>
                    <td class="border">Latitude da Ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">LONGITUDE</td>
                    <td class="border">Longitude da Ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_TIPO_PESSOA</td>
                    <td class="border">enquadramento da pessoa de acordo com seu envolvimento na ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">FLAG_VITIMA_FATAL</td>
                    <td class="border">indica se a pessoa relacionada é vítima fatal.(S= sim; N=não) </td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_ESTADO_CIVIL</td>
                    <td class="border">Estado Civil</td>
                </tr>
                <tr class="border">
                    <td class="border">SEXO_PESSOA</td>
                    <td class="border">Sexo</td>
                </tr>
                <tr class="border">
                    <td class="border">IDADE_PESSOA</td>
                    <td class="border">Idade</td>
                </tr>
                <tr class="border">
                    <td class="border">COR_CUTIS</td>
                    <td class="border">Cor da Pele</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_GRAU_INSTRUCAO</td>
                    <td class="border">Grau de escolaridade do envolvido</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_PROFISSAO</td>
                    <td class="border">Profissão do envolvido</td>
                </tr>
                <tr class="border">
                    <td class="border">CONT_PESSOA</td>
                    <td class="border">NÚMERO DE ORDEM DE REGISTRO DA PESSOA NO BO</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_RELACIONAMENTO</td>
                    <td class="border">Relacionamento entre a vítima e o autor</td>
                </tr>
                <tr class="border">
                    <td class="border">FLAG_INTOLERANCIA</td>
                    <td class="border">Indica se houve intolerância (S= sim; N=não)</td>
                </tr>
                <tr class="border">
                    <td class="border">TIPO_INTOLERANCIA</td>
                    <td class="border">Tipo de intolerância</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_TOXICO</td>
                    <td class="border">descrição do entorpecente apreendido</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_UNIDADE</td>
                    <td class="border">unidade de medida do entorpecente apreendido</td>
                </tr>
                <tr class="border">
                    <td class="border">Campos</td>
                    <td class="border">Descrição</td>
                </tr>
                <tr class="border">
                    <td class="border">QTDE_ENCONTRADA</td>
                    <td class="border">quantidade do entorpecente apreendido</td>
                </tr>
                <tr class="border">
                    <td class="border">DATAHORA_IMPRESSAO_BO</td>
                    <td class="border">Data-Hora da elaboração da impressão</td>
                </tr>
                <tr class="border">
                    <td class="border">CONT_ENTORPECENTE</td>
                    <td class="border">NÚMERO DE ORDEM DE REGISTRO DO ENTORPECENTE NO BO</td>
                </tr>
                <tr class="border">
                    <td class="border">CONT_PESSOA</td>
                    <td class="border">NÚMERO DE ORDEM DE REGISTRO DA PESSOA NO BO</td>
                </tr>
                <tr class="border">
                    <td class="border">FLAG_FLAGRANTE</td>
                    <td class="border">Indica se houve flagrante (S= sim; N=não)</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_MODO_OBJETO</td>
                    <td class="border">Situação do objeto na ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_TIPO_OBJETO</td>
                    <td class="border">Tipo de objeto - grande categoria</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_SUBTIPO_OBJETO</td>
                    <td class="border">Subtipo de objeto</td>
                </tr>
                <tr class="border">
                    <td class="border">CONT_OBJETO</td>
                    <td class="border">Identificação do Objeto na Ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_UNIDADE</td>
                    <td class="border">Unidade de contagem do objeto</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_TIPO_VEICULO</td>
                    <td class="border">Tipo de Veículo</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_OCORRENCIA_VEICULO</td>
                    <td class="border">Envolvimento do veículo na ocorrência</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_MARCA_VEICULO</td>
                    <td class="border">Marca/MODELO</td>
                </tr>
                <tr class="border">
                    <td class="border">ANO_FABRICACAO</td>
                    <td class="border">Ano de Fabricação</td>
                </tr>
                <tr class="border">
                    <td class="border">DESCR_COR_VEICULO</td>
                    <td class="border">Cor do Veículo</td>
                </tr>
            </table>
        </div>
            <br><br>
            <a target="_blank" href="../../assets/files/METODOLOGIA.pdf"><button style="align-self: center;" value="Download" type="button" class="btn btn-outline-light" id="button">Baixar .pdf com metodologia completa para interpretação dos dados</button></a>
    </div>
</div>  