
  <nav class="mb-1 navbar navbar-expand-lg" id="nav">
    <a class="navbar-brand ml-5" routerLink="/home">
      <img src="../../assets/imgs/logoescrito.fw.png" alt="logo" height="45px">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto nav-flex-icons">
        <li class="nav-item">
            <a class="nav-link" routerLink="/charts"><i class="fas fa-chart-line"></i>Gráficos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/sugestions"><i class="fas fa-comment-dots"></i>Sugestões</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/methodology"><i class="fas fa-book"></i>Metodologia</a>
        </li>
        <li class="nav-item mr-5">
            <a class="nav-link" routerLink="/about"><i class="fas fa-info-circle"></i>Sobre</a>
        </li>
      </ul>

    </div>
  </nav>

<router-outlet></router-outlet>